{% extends "base.html" %}

{% block title %}Add Food{% endblock %}

{% block content %}
<h2>Add Food</h2>
<form action="{{ url_for('main.add_food', food_id=food.id if food else None) }}" method="post">
    <label for="dish">Dish:</label>
    <input type="text" id="dish" name="dish" value="{{ food.dish if food else '' }}" required><br>

    <label for="ingredients">Ingredients:</label>
    <textarea id="ingredients" name="ingredients" required>{{ food.ingredients if food else '' }}</textarea><br>

    <label for="grams">Grams:</label>
    <input type="number" id="grams" name="grams" value="{{ food.grams if food else '' }}" required><br>

    <label for="calories">Calories:</label>
    <input type="number" id="calories" name="calories" value="{{ food.calories if food else '' }}" required><br>

    <label for="meal">Meal:</label>
    <input type="text" id="meal" name="meal" value="{{ food.meal if food else '' }}" required><br>

    <label for="portion">Portion (%):</label>
    <input type="number" id="portion" name="portion" value="{{ food.portion if food else '' }}" required><br>

    <button type="submit">{{ 'Update' if food else 'Add' }}</button>
</form>
<a href="{{ url_for('main.view_food') }}">Back to View Food Entries</a>
{% endblock %}
